exp1/data/data_in/
data_out
venv
venv_pp
gridfm_datakit.egg-info
__pycache__/
*.pyc
.vscode
.venv
notebooks/opf_pertubations.ipynb
.DS_Store
gridfm_datakit/grids/*.m
notebooks/test_data
tests/test_data
build/
baseline_perturbations/
opf_baseline_perturbations/
extract_results.ipynb
opf_data/data
test_data/
scripts/datasets_sampled/
pfdelta/data/
site/
phase1_generation/preprocessing/case118_ieee_3yr_precomputed_load_profiles.csv
phase1_generation/preprocessing/generate_precomputed_profile.ipynb
phase1_generation/preprocessing/case500_goc_3yr_precomputed_load_profiles.csv
phase1_generation\preprocessing\case500_goc_3yr_precomputed_load_profiles.csv
exp1/data/precomputed_profiles
*.csv
datakit_env_OLD/
logs/
mlflow.db